#shorthand-stories-data {
  display: none;
}

#edit-external-publishing-config-wrapper {
  border-left: 10px solid #0074bd;
  padding-left: 2em;
  height: 90px;
  overflow: hidden;
}

#edit-external-publishing-config-wrapper.hide {
  height: 0px;
}

.transition {
  transition: 0.2s ease-out all;
}

#edit-actions {
  position: relative;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
}
.loader {
  display: none;
  position: absolute;
  left: 24px;
  top: 4px;
  font-size: 14px;
  text-indent: -9999em;
  z-index: 999;
  border-top: 0.3em solid rgba(0, 0, 0, 0.2);
  border-right: 0.3em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.3em solid rgba(0, 0, 0, 0.2);
  border-left: 0.3em solid #37a2c2;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader.show {
  display: block;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
