li.story {
  margin: 5px;
  list-style-type: none;
}

li.story.selected label {
  background: #5b9dd9;
  color: #eee;
}

li.story input {
  display: none !important;
}

li.story label {
  display: flex;
  flex-direction: row;
  background: #fafafa;
  padding-top: 5px;
  border: 1px solid #eeeeee;
  align-items: center;
}

li.story label:hover {
  border: 1px solid #5b9dd9;
}

li.story .thumbnail {
  margin: 5px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-size: cover;
}

li.story label span {
  display: block;
  font-weight: bold;
}

li.story.hidden {
  display: none !important;
}

div.clear {
  clear: left;
}

#codearea {
  border: 1px solid #999999;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  width: 100%;
  height: 300px;
}

.field-widget-shorthand-story-select ul.stories {
  max-height: 400px;
  min-height: 250px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin: 0;
}

.field-name-shorthand-story-id input[type="text"] {
  display: none;
}

.filter {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  align-items: center;
  padding: 12px;
  background: #f7f7f7;
  border-bottom: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

#storyFilter {
  display: block !important;
  margin-left: 20px;
  padding: 9px;
  width: 100%;
  border: 1px solid #ccc;
}

.field-name-shorthand-story-head {
  display: none;
}

.field-name-shorthand-story-body {
  display: none;
}

div.story_not_found {
  color: red;
  padding: 20px;
}

#edit-submit[disabled] {
  color: #ccc;
}
